.AdversetimentOne{
    height: 380px;
    width: 350px;
    background: white;
    margin: 10px;
}
.AdversetimentOne_body{
    padding-left: 15px;
}
.AdversetimentOne_header{
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
}
.AdversetimentOne_footer{
    padding: 15px;
}