.mainpage{
    width: 100vw;
    height:200vh;
    background: url('https://ik.imagekit.io/saswataamazonclone/amazon-image/amazon-image/V238940049_IN_PC_BAU_Edit_Creation_Laptops2X._SY608_CB667377204__2PFi3Nmbiu.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1660373056225');
    background-size: 100vw;
    background-color: #EAEDED;
}